@model Inspimo_CQRS.CQRS_Pattern.Commands.CreateProductCommand

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="ProductName" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="ProductPrice" />
        <br />
        <label>Ürün Markası</label>
        <input type="text" class="form-control" asp-for="ProductBrand" />
        <br />
        <label>Ürün Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="ProductStock" />
        <br />
        <button class="btn btn-primary">Ürün Ekle</button>
    </form>
</div>